* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}

:root {
    --main-color:rgb(26, 26, 26);
    --sec-color:#FFD700;
    --ter-color: #fb641b;
}

body {
    background: var(--main-color) ;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}