* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}

:root {
    --main-color:#282c34;
    --sec-color:#61dafb;
    --ter-color: #ad00c4;
}

body {
    background: var(--main-color) ;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}