* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}

:root {
    --main-color:#1f1f1f;
    --sec-color:#ebb52d;
    --ter-color: #c44f14;
}

body {
    background: var(--main-color) ;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}