#skills{
    margin: 2rem auto;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.skillsHeading {
    font-size: 2.5rem;
    font-weight: bolder;
}

.skillsDesc {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: grey;
}
.skillBars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 1.5rem;
}
.skillBar {
    background: rgb(30, 30, 30);
    width: 180px;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1.5rem;
}

.skillImg {
    object-fit: cover;
    height: 3rem;
}

.skillText {
    display: inline-block;
    padding: 0.4rem 1.5rem;
   
}
.skillDesc {
    margin: 0.5rem 0;
}

/* ScrollComponent.css */
.scroll-container { 
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s, transform 0.8s;
  }
  
  .scroll-container.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  @media screen and (max-width:450px) {
    .skillBars {
        grid-template-columns: 1fr 1fr;
    }
    
  }

  @media screen and (max-width:370px) {
    .skillBar {
        width: 160px;
    }
    .skillsDesc {
        font-size: 14px;
    }
    
  }