#skills {
    margin: 2rem auto;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skillsHeading {
    font-size: 2.5rem;
    font-weight: bolder;
}

.skillsDesc {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: grey;
}

.skillBars {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-out;
    opacity: 0;
}

.skillBars.open {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 1rem;
    height: auto;
    opacity: 1;
}


.skillBar {
    background: var(--main-color);
    width: 160px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillBar p {
    font-size: 11px;
}

.skillImg {
    object-fit: cover;
    height: 2rem;
    margin-right: 1rem;
}

.skillDesc {
    margin: 0.5rem 0;
}

.skillCategory {
    background-color: rgb(54, 54, 54);
    margin: 1rem;
    border-radius: 10px;
    width: 90vw;
}

/* ScrollComponent.css */
.scroll-container { 
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s, transform 0.8s;
}
  
.scroll-container.animate {
    opacity: 1;
    transform: translateY(0);
}

.categoryHeading {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

@media screen and (max-width: 450px) {
    .skillBars.open {
        grid-template-columns: 1fr 1fr;
    }

    .skillsHeading {
        font-size: 2rem;
    }
}
  
@media screen and (max-width: 370px) {
    .skillBar {
        width: 150px;
    }

    .skillsDesc {
        font-size: 14px;
    }
}
