#aboutSection {
    margin: 0 auto;
    overflow: hidden;
    height: 90vh;
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;

}

.scroll-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s, transform 0.8s;
}

.scroll-container.animate {
    opacity: 1;
    transform: translateY(0);
}


.aboutHeading {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-left: 2rem;

}

.aboutDesc {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    color: grey;
    margin-left: 2rem;

}

.aboutDetails p {
    display: inline-grid;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;

}

.aboutForm {
    margin-left: 2rem;
    margin-top: 2rem;
}

.aboutDetails p span {
    margin: 0.5rem;
}

.aboutDetail {
    color: grey;
}

.cvBtn {
    background: white;
    color: black;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border: none;
    margin: 2rem;
}

@media screen and (max-width:550px) {
    .aboutForm {
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 0.6rem;
    }

}

@media screen and (max-width:450px) {
    .aboutForm {
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
    }

    #aboutSection {
        height: 60vh;
    }

    .aboutDetails p {
        font-size: 0.8rem;
    }

}

@media screen and (max-width:370px) {
    .aboutForm {
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 0.7rem;
    }

    #aboutSection {
        height: 60vh;
    }

    .aboutDetails p {
        font-size: 0.6rem;
    }

}