.navbar {
    margin: 0 auto;
    padding: 1rem 5rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 3;
    top: 0;
    background-image: url('../../assets/bg.jpg');
    background-position-x: center;
}

.logo {
    font-size: 18px;
    padding-top: 7px;
}

.logo-F {
    color: var(--sec-color);
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;

}

.desktopMenuListItem:hover {
    color: var(--sec-color);
    padding-bottom: 5px;
}

.desktopMenuBtn {
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    background-color: white;
    cursor: pointer;
    border: none;
}

.active {
    color: var(--sec-color);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--sec-color);
}

.navMenu {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 4rem;
    right: 0;
    background: var(--main-color);
    border-radius: 0.5rem;
    transition: height 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
}

.navMenu.show {
    display: flex;
    height: auto;
  }

.ListItem {
    padding: 1rem 3rem;
    cursor: pointer;
}

.ListItem:hover {
    color: var(--sec-color);
}

.mobMenu {
    object-fit: cover;
    height: 1.8rem;
    margin: 0.5rem;
    display: none;
    color: var(--sec-color);
}

@media screen and (max-width:450px) {
    .mobMenu {
        display: block;
    }

    .desktopMenuListItem,
    .desktopMenuBtn {
        display: none;
    }

    .navbar {
        padding: 1rem;
        background-position-x: center;
    }
}