.navbar {
    margin: 0 auto;
    padding: 1rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 70rem;
    position: sticky;
    z-index: 3;
    top: 0;
    background-color: rgb(30, 30, 30);
}

.logo {
    object-fit: cover;
    height: 7rem;
    width: 6rem;
    padding-top: 7px;
    

}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;

}

.desktopMenuListItem:hover {
    border-bottom: 3px solid yellow;
    color: yellow;
    padding-bottom: 5px;
}

.desktopMenuBtn {
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    background-color: white;
    cursor: pointer;
    border: none;
}

.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.navMenu {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 4rem;
    right: 2rem;
}
.ListItem {
    padding: 1rem 3rem;
    cursor: pointer;
}

.ListItem:hover {
    color: yellow;
    border-bottom: 3px solid yellow;
    
}
.mobMenu {
    object-fit: cover;
    height: 1.8rem;
    display: none;
}

@media  screen and (max-width:450px) {
    .mobMenu {
        display: block;
    }
    .desktopMenuListItem , .desktopMenuBtn {
        display: none;
    }  

}
