#intro {
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 100vh;
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
}

.introContent {
    padding: 1.5rem;
    margin: 0 5rem;
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(30px);
    transition: opacity 0.8s, transform 0.8s;
}

.introContent.animate {
    opacity: 1;
    transform: translateY(0);
}

.hello {
    font-size: 1rem;
    font-weight: 700;
    color: var(--sec-color);
}

.introName {
    color: var(--sec-color);
}

.introTitle {
    font-size: 70%;
    font-weight: 400;

}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.introBtn {
    background: white;
    margin: 1rem 0;
    color: black;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border: none;
}

.contact-container {
    display: flex;
    margin: 1rem;
}

.contact-icon {
    background-color: var(--ter-color);
    width: 50px;
    height: 50px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.fa-icon {
    all: unset;
    color: white;
    width: 30px;
    height: 30px;
}


@media screen and (max-width:370px) {
    .introContent {
        font-size: 2.5rem;
        margin: 0;

    }

    .introTitle {
        color: rgb(235, 235, 235);
    }
    #intro {
        background-image: url('../../assets/bg4.jpg');
    }
}

@media screen and (max-width:450px) {
    .introContent {
        margin: 0;

    }

    .introPara {
        font-size: 16px;
    }
    #intro {
        background-image: url('../../assets/bg4.jpg');
    }
}