#intro {

    margin: 0 auto;
    width: 100vw;
    max-width: 70rem;
    display: flex;
    height: 100vh;


}

.introContent {

    padding: 1.5rem;
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s, transform 0.8s;
}

.introContent.animate {
    opacity: 1;
    transform: translateY(0);
}

.hello {
    font-size: 1rem;
    font-weight: 700;
    color: yellow;
}

.introName {
    color: yellow;
}

.introTitle {
    font-size: 3rem;
    font-weight: 600;

}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.introBtn {
    background: white;
    margin: 1rem 0;
    color: black;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border: none;
}

@media screen and (max-width:370px) {
    .introContent {
        font-size: 2.5rem;
    }

    .introTitle {
        font-size: 2.5rem;
    }
}