.footer {
    padding: 3rem;
    background: rgb(30, 30, 30);
    font-weight: 300;
   
}

.footer p {
    padding-top: 3rem;
    text-align: center;
}

.footer p a {
    color: var(--sec-color);
    cursor: pointer;
}

.footer-container {
    display: flex;
    gap: 6rem;
}

.footer-container h3 {
    margin-bottom: 1rem;
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    width: 70rem;
}

.quick-link:hover {
    cursor: pointer;
    color: var(--sec-color);
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 70rem;
}

@media screen and (max-width:450px) {
    .footer-container {
        flex-wrap: wrap;
    }
    
    .footer {
        padding: 2rem;
    }
}
