#certifications {
    margin: 4rem auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cert-heading {
    font-size: 2.5rem;
    font-weight: bolder;
    border-bottom: 2px solid orange;
    margin-bottom: 2rem;
}

.certificate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.certificate {
    padding: 1.3rem;
    background-color: #222222;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 1.5rem;
    border-radius: 20px;
    width: 100%; 
    max-width: 400px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.certificate p {
    margin: 0;
}

.certificate a {
    color: white;
    border: 1px solid grey; 
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    margin-left: auto; 
}

@media screen and (max-width:450px) {
   .certificate {
        width: 90vw;
        max-width: none;
   }

    .cert-heading {
        font-size: 2rem;
    }
}
